body {
    background-color: #ffffee;
}

fieldset {
  /*padding: 1rem;*/
  /*margin: 1.5rem 0;*/
  align-items: center;
  margin: 0px;
  padding: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

input:focus {
    border: 3px solid #333;
}

label {

}

select {
    border: 1px solid black;
    background-color: #fff;
}

[type='radio'] {
    appearance: none;
    margin-left: 10px;
}

[type='number'], [type='date'] {
    border: 1px solid black;
    background-color: #fff;
}

.container {
    min-width: 1200px;
    padding: 0px;

}

.delete, .delete:hover, .delete:focus {
    background-color: #cd212a;
    font-size: 25px;
}

.duplicate, .duplicate:hover, .duplicate:focus {
    background-color: green;
    font-size: 30px;
}

.flex-row {
    margin: 0px;
}

.form-bottom-row {
    height: 100px;
    justify-content: space-between;
}

.gridButton {
    width: 66px;
    height: 53px;
}

.plain-label {
    font-weight: 600;
}

.radioArea {
    width: 120px;
    height: 50px;
    border-radius: 15px;
    margin: 20px;
    text-align: center;
    padding-top: 12px;

}

.striped-table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.striped-table tbody tr:nth-child(even) {
  background-color: #fff;
}

.table-container{
    position: relative;
    z-index: 1;
    /*overflow: auto;*/
    max-height: 500px;

}

.testCheckbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.testCheckbox > label {
    margin: 0px;
    margin-left: 5px;
}

.testEditForm {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    width: 300px;
    height: 225px;
    border: 2px solid #aaa;
    border-radius: 5px;
    align-items: center;
    position: relative;
    bottom: 66px;
    left: 320px;
    z-index: 1;
    background-color: #fff;
}

.plantBG {
    background-color: #ffff99;
    border: 1px solid #333;
}

.wasteBG {
    background-color: #ffbf80;
    border: 1px solid #333;
}

.solutionBG {
    background-color: #99ddff;
    border: 1px solid #333;
}

.mediaBG {
    background-color: #ffb3cc;
    border: 1px solid #333;
}

.reportTypeBG {
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #333;
}

.plantBG:active, .wasteBG:active, .solutionBG:active, .mediaBG:active {
    background-color: white;
}

.plantBG:hover, .wasteBG:hover, .solutionBG:hover, .mediaBG:hover, .reportTypeBG:hover,
.duplicate:hover, .delete:hover {
    border: 3px solid #333;
}


#clearGrid {
    float: right;
}

#codeColor {
    background-color: #ffff99;
    border-radius: 10px;
    padding: 10px;
    width: 160px;
}

#codeSelect {
    width: 350px;
}

#displaySavedButton {
    margin-left: 0px;
}

#testEdit {
    float: right;
}

#codeSelect, #numSamplesInput, #receiveDateInput, #create-grid-button {
    margin: 10px;
}


/* Colors from w3.css. Thank you W3! */

.w3-2021-marigold
{color:#fff;background-color:#FDAC53}
.w3-2021-cerulean
{color:#000;background-color:#9BB7D4}
.w3-2021-rust
{color:#fff;background-color:#B55A30}
.w3-2021-illuminating
{color:#000;background-color:#F5DF4D}
.w3-2021-french-blue
{color:#fff;background-color:#0072B5}
.w3-2021-green-ash
{color:#000;background-color:#A0DAA9}
.w3-2021-burnt-coral
{color:#fff;background-color:#E9897E}
.w3-2021-mint
{color:#fff;background-color:#00A170}
.w3-2021-amethyst-orchid
{color:#fff;background-color:#926AA6}
.w3-2021-raspberry-sorbet
{color:#fff;background-color:#D2386C}
.w3-2021-inkwell
{color:#fff;background-color:#363945}
.w3-2021-ultimate-gray
{color:#fff;background-color:#939597}
.w3-2021-buttercream
{color:#000;background-color:#EFE1CE}
.w3-2021-desert-mist
{color:#000;background-color:#E0B589}
.w3-2021-willow
{color:#fff;background-color:#9A8B4F}

.w3-2020-classic-blue
{color:#fff;background-color:#34568B}
.w3-2020-flame-scarlet
{color:#fff;background-color:#CD212A}
.w3-2020-saffron
{color:#000;background-color:#FFA500}
.w3-2020-biscay-green
{color:#000;background-color:#56C6A9}
.w3-2020-chive
{color:#fff;background-color:#4B5335}
.w3-2020-faded-denim
{color:#fff;background-color:#798EA4}
.w3-2020-orange-peel
{color:#fff;background-color:#FA7A35}
.w3-2020-mosaic-blue
{color:#fff;background-color:#00758F}
.w3-2020-sunlight
{color:#000;background-color:#EDD59E}
.w3-2020-coral-pink
{color:#000;background-color:#E8A798}
.w3-2020-cinnamon-stick
{color:#fff;background-color:#9C4722}
.w3-2020-grape-compote
{color:#fff;background-color:#6B5876}
.w3-2020-lark
{color:#fff;background-color:#B89B72}
.w3-2020-navy-blazer
{color:#fff;background-color:#282D3C}
.w3-2020-brilliant-white
{color:#000;background-color:#EDF1FF}
.w3-2020-ash
{color:#fff;background-color:#A09998}
.w3-2020-amberglow
{color:#fff;background-color:#DC793E}
.w3-2020-samba
{color:#fff;background-color:#A2242F}
.w3-2020-sandstone
{color:#fff;background-color:#C48A69}
.w3-2020-green-sheen
{color:#000;background-color:#D9CE52}
.w3-2020-rose-tan
{color:#000;background-color:#D19C97}
.w3-2020-ultramarine-green
{color:#fff;background-color:#006B54}
.w3-2020-fired-brick
{color:#fff;background-color:#6A2E2A}
.w3-2020-peach-nougat
{color:#000;background-color:#E6AF91}
.w3-2020-magenta-purple
{color:#fff;background-color:#6C244C}